.header {
  flex-grow: 1;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: auto;
  height: 100%;
}

.header-content {
  width: 100%;
  max-width: 294px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
}

.header-nav {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item-icon {
  height: 1.75rem;
}

.nav-item-label {
  margin-left: 16px;
  margin-right: 20px;
  font-size: 20px;
}

.logo {
  width: 24px;
  height: 2rem;
  color: rgb(214, 217, 219);
}

.logo-content {
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 52px;
  min-height: 52px;
  border-radius: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1140px) {
  .header {
    display: flex;
  }
}
